@charset "UTF-8";

body{}


/*header*/
header{
  position: fixed;
  width:100%;
  background: rgba(255,255,255,0.6);  
  transition: all 600ms ease-in;

}




.header_in { 
  max-width:1240px; 
  margin:auto; height: 120px;
  display:flex;
  justify-content:space-between;
  align-items: center;
}

header h1 i{ font-size:4em;
margin-right: 20px;}
header h1 span{
  font-size:3em;
  font-family: 'Skranji', cursive;  
}

header nav { }
header nav ul{ }
header nav ul:after{
  display: block; content: ""; clear: both;
 } /*ul,li 가요배열 만들기*/
header nav ul>li { float:left}
header nav ul>li>a {
  display: block; 
  padding:15px;
font-size: 18px;}

header nav ul>li>a:hover{
  color:orange;
}



header.on {background: black; 
  color:white}
header.on .header_in {height:50px;}
header.on .header_in h1 i{ font-size:2em;
  margin-right: 20px;}
header.on .header_in h1 span{
    font-size:1.5em;
    font-family: 'Skranji', cursive;  
    color:white;
  }
  header.on nav ul>li>a{
    padding:15px; font-size:14px;  }

section {
  display: flex; justify-content: center;
align-items: center;
flex-direction:column;}

.btnDown { 
  width:70px; height: 70px; 
  cursor: pointer;
  display: flex; justify-content: center;
  
}


.btnDown span {
  display: block;
  width:30px; height:30px ;
  border:3px solid rgb(0, 0, 0);
  transform: rotate(-45deg);
  border-top:none; border-right: none;
  /* text-indent:-3px;  */
  font-size: 0; overflow: hidden;
  color:transparent;
  transition: 200ms;
  
 } 

 .btnDown:hover span{
  border:3px solid  rgb(255, 255, 255);
  border-top:none; border-right:none;
  margin-top: 5px;
  }
  



section h2 { font-size:3em; margin-bottom:50px;}
#s1 {background: rgb(241, 121, 121); height: 100vh;}
#s2 {background: rgb(240, 170, 123); height: 768px;}
#s3 {background: rgb(236, 231, 156); height: 1100px;}
#s4 {background: rgb(156, 233, 153); height: 500px;}
#s5 {background: rgb(130, 192, 243); height: 1300px;}
#s6 {background: rgb(110, 140, 236); height: 800px;}
#s7 {background: rgb(65, 56, 148); height: 800px;}
